.feedback {
  padding-top: 4em;

  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );

  .hero-title {
    margin-bottom: 1em;
  }

  .hero-paragraph {
    color: #ccc;
  }

  .feedback-cta {
    background-color: #578ca1;
  }
}